@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-size: 1vw;
    margin-bottom: 0;
}


a {
    margin-top: 3vw;
    display: block;
}

p {
    font-size: 1vw;
    margin-top: 0;
}

.search-for {
    margin-bottom: 1vw
}

.pokemon-logo {
    width: 20vh;
}

#pokemonForm {
    position: relative;
}

#pokemonInput {
    height: 2vw;
    border: 1px #e46246 solid;
    border-radius: 50px;
    padding: 0.7vw 1vw;
    width: 17vw;
}

#submitBtn {
    border: 0;
    border-radius: 40px;
    height: 3vw;
    width: 7vw;
}

.loading {
    display: none;
    margin: 1vw 0;
}

/************************************/

#found-pokemon {
    display: none;
    align-content: center;
    justify-content: center;
    margin-top: 1vw;
}

#found-pokemon div {
    margin: 0 4vw;
    text-align: left;
}


.stats-container {}